<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> ECMall </title>
  <meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
  <link href="admin/styles/general.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="?act=jslang"></script>
  {script src="ecmall,ajax,ui.utils,validator"}
  <script type="text/javascript">
  var too_much_users = '{$lang.js.too_much_users}';
  Event.observe(window, "load", function() {
    new ui.utils.tabForm("tab-form");
    Validator.run('theForm');
  });

  function checkUsersNumber (obj) {
    var arr = obj.value.split(" ");
    if (arr.length>30) {
      return too_much_users;
    } else {
      return true;
  }}
  </script>
  <style type="text/css">
  <!--
  .note.active { background-position:5px 5px; }
  -->
  </style>
 </head>

 <body>
  <ul id="container">
    <li id="header">
      <h1>{$lang.coupon_sent}</h1>
      <div class="link">[<a href="admin.php?app=coupon&amp;act=view">{$lang.coupon_view}</a>]</div>
      <div id="desc">{$lang.coupon_sent_notice}</div>
    </li>
    <li>
      <form name="theForm" method="post" id="theForm">
      <div id="tab-form" class="tab-form">
        <ul class="tab-bar">
          <li>{$lang.coupon_sent}</li>
        </ul>
        <div class="tab-page">
          <table class="form-table">
            <tr>
              <td class="label"><label for="chk_specified_users">{$lang.specified_users}:</label></td>
              <td><textarea name="specified_users" id="specified_users" cols="60" rows="5" dataType="string" required="true" fun="checkUsersNumber"></textarea><span class="note" style="display:block;line-height:1.3em;">{$lang.username_notice}</span><span class="msg" style="display:block">{$lang.username_notice}</span></td>
            </tr>
            <tr>
              <td class="label"><label for="chk_specified_users">{$lang.send_model}:</label></td>
              <td>
                <label><input type="radio" value="0" name="send_model" checked="true" /> {$lang.send_by_email_pm}</label>
                <label><input type="radio" value="1" name="send_model"/> {$lang.send_by_pm}</label>
                <label><input type="radio" value="2" name="send_model"/> {$lang.send_by_email}</label>
              </td>
            </tr>
          </table>
        </div>
        <p class="submitlist">
          <input type="submit" value="{$lang.submit}" />
          <input type="reset" value="{$lang.reset}" />
          <input type="hidden" value="{$smarty.get.coupon_id}" name="coupon_id">
        </p>
      </div>
      </form>
    </li>
    {include file="admin/templates/footer.html"}
  </ul>
 </body>
</html>
