<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECMall</title>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<link href="admin/styles/general.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="?act=jslang"></script>
{script src="ecmall,ui.utils,validator"}
<script type="text/javascript">
  Event.observe(window, "load", function() {
   new ui.utils.tabForm("tab-form");
   Validator.run('theForm');
  });
  </script>
</head>
<body align="center">
<ul id="container">
  <li id="header">
    <h1>{$lang.add_relet_order}</h1>
    <div class="link">[<a href="admin.php?app=storerelet&amp;act=view">{$lang.list_relet_order}</a>]</div>
    <div id="desc"></div>
  </li>
  <li>
    <form method="post" enctype="multipart/form-data" name="theForm">
      <div id="tab-form" class="tab-form">
        <ul class="tab-bar">
          <li>{$lang.general}</li>
        </ul>
        <div class="tab-page">
          <table class="form-table">
            <tr>
              <td class="label">{$lang.rent_scheme}:</td>
              <td><p>
          {foreach from=$scheme_list item=scheme name=scheme}
                <label>
                  <input type="radio" name="rent_scheme" value="{$scheme.scheme_id}" {if $smarty.foreach.scheme.iteration eq 1}checked="checked"{/if} />
                  {$lang.allowed_goods}:{if $scheme.allowed_goods gt 0}{$scheme.allowed_goods}{else}{$lang.not_limited}{/if}&nbsp;&nbsp;&nbsp;&nbsp;
          {$lang.allowed_file}:{if $scheme.allowed_file gt 0}{$scheme.allowed_file}{else}{$lang.not_limited}{/if}&nbsp;&nbsp;&nbsp;&nbsp;
          {$lang.allowed_month}:{$scheme.allowed_month}&nbsp;&nbsp;&nbsp;&nbsp;
          {$lang.price}:{$scheme.price|price}</label>
                <br /><br />
        {/foreach}
              </p></td>
            </tr>
      <tr>
              <td class="label" >{$lang.payment}:</td>
              <td><p>
                {foreach from=$payment_list item=payment name=payment}
                <label>
                  <input type="radio" name="payment" value="{$payment.pay_id}" {if $smarty.foreach.payment.iteration eq 1}checked="checked"{/if} />
                  <strong>{$payment.pay_name}</strong></label>
                <br />
        {$payment.pay_desc}
        <br /><br />
        {/foreach}
              </p></td>
            </tr>
          </table>
        </div>
        <p class="submitlist">
          <input type="submit" value="{$lang.submit}" />
          <input type="reset" value="{$lang.reset}" />
        </p>
      </div>
    </form>
  </li>
  {include file="admin/templates/footer.html"}
</ul>
</body>
</html>
