<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> ECMall </title>
  <meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
  <link href="admin/styles/general.css" rel="stylesheet" type="text/css" />
  {script src="ecmall,validator"}
  <script type="text/javascript" src="?act=jslang"></script>
  <script type="text/javascript">
  Event.observe(window, "load", function() {
    Validator.run('theForm');
  });
  </script>
 </head>
 <body align="center">
  <ul id="container">
    <li id="header">
      <h1>{$lang.category_add}</h1>
      <div class="link">[<a href="admin.php?app=category&amp;act=view" >{$lang.category_view}</a>]</div>
      <div id="desc"></div>
    </li>
    <li>
      <form name="theForm" method="post" >
      <div id="tab-form">
        <ul class="tab-bar">
          <li class="actived">{$lang.general}</li>
        </ul>
        <div class="tab-page">
          <table class="form-table">
            <tr>
              <td class="label">{$lang.cate_name}</td><td><input type="text" name="cate_name" size="40" dataType="string" required="true" value="{$cate.cate_name}" /></td>
            </tr>
            <tr>
              <td class="label">{$lang.parent_cate}</td><td><select name="parent_id"><option value="0">{$lang.top_category}</option>{html_options options=$cate_options selected=$cate.parent_id}</select></td>
            </tr>
            <tr>
              <td class="label">{$lang.sort_order}</td><td><input name="sort_order" type="text" dataType="int" size="40" value="{$cate.sort_order}" test="0,*" /><span class="note">{$lang.sort_order_tip}</span></td>
            </tr>
            {if $store_id eq 0}
            <tr>
              <td class="label">{$lang.goods_type}</td><td><select name="type_id"><option value="0">{$lang.plz_goods_type}</option>{html_options options=$type_options selected=$cate.type_id}</select></td>
            </tr>
            {/if}
          </table>
        </div>
        <p class="submitlist">
          <input type="submit" value="{$lang.submit}" />
          <input type="reset" value="{$lang.reset}" />
          <input type="hidden" name="cate_id" value="{$cate.cate_id}" />
        </p>
      </form>
    </li>
    {include file="admin/templates/footer.html"}
  </ul>
 </body>
</html>
