<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{$lang.title}</title>
  <link rel="stylesheet" href="templates/style/base.css" type="text/css" media="all" />
  <script type="text/javascript">
  onload = function()
  {
    document.getElementById("install_info").value = "";
    var f = document.forms['theForm'];
    f.submit();
  }

  function showInfo(str)
  {
    var textbox = document.getElementById("install_info");
    textbox.value += str + "\r\n";
    textbox.scrollTop = textbox.scrollHeight;
  }

  function install_result(title, info, failed)
  {
    var textbox = document.getElementById("install_info");

    textbox.style.height = "50px";
    textbox.scrollTop = textbox.scrollHeight;

    if (failed)
      document.getElementById("enterMallBtn").style.display = "none";
    else
      document.getElementById("enterMallBtn").style.display = "";
    document.getElementById("succssedInfo").style.display = "";
    document.getElementById("msg2").innerHTML = info;
    if(title == "") {
      document.getElementById("info_title").style.display = "none";
    } else {
      document.getElementById("info_title").style.display = "";
    }
    document.getElementById("info_title").innerHTML = title;

  }

  function enterMall()
  {
    document.location.href = document.location.href.toLowerCase().split("install")[0] + "admin.php";
  }
  </script>
</head>

<body>
  <div id="wrapper">
    <div class="inside">
      <div id="header" class="spacing">
        <h1>ECMall - 安装向导</h1>
      </div><!-- /header -->
      <div id="title" class="spacing">
        <div id="step" class="step4">
          <h2>{$lang.step_install_data}</h2>
          <p>{$lang.step_install_data_notice}</p>
        </div>
      </div><!-- /title -->
      <div id="status" class="spacing step4"></div>
      <div id="content">
      <form action="" method="post" name="theForm" target="install_data" >
        <textarea id="install_info" style="width:700px;height:200px;line-height:15px;"> </textarea>
        <table class="showtable" id="succssedInfo" style="display:none;">
            <tbody id="installtips">
            <tr>
                <td><strong id="info_title"></strong></td>
            </tr>
            <tr>
                <td id="msg2">
                </td>
            </tr>
            </tbody>
        </table>

        <div id="btnlist">
            <input type="button" style="display:none;" id="enterMallBtn" onclick="enterMall()" value="{$lang.enter_mall}" />
        </div>
        <input type="hidden" name="language_type" value="{$cur_lang}" />
        <input type="hidden" name="step" value="install_data" />
        {foreach from=$options key=k item=v}
            {if $k eq 'goods_type'}
                {foreach from=$v item=s}
                    <input type="hidden" name="goods_type[]" value="{$s}" />
                {/foreach}
            {else}
                <input type="hidden" name="{$k}" value="{$v}" />
            {/if}
        {/foreach}
        </from>
        <iframe href='' name="install_data" style="display:none;height:300px;width:700px" ></iframe>
      </div><!-- /content -->
      <div id="footer">
        <p id="copyright">&copy; 2005-2008 <a href="http://www.shopex.cn">ShopEx Inc.</a></p>
      </div><!-- /footer -->
    </div>
    <div class="bottom"></div>
  </div>
</body>
</html>
