<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> ECMall </title>
  <meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
  <link href="admin/styles/general.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="?act=jslang"></script>
  {script src="ajax,ecmall,ui.utils,validator"}
  <script type="text/javascript">
  //<![CDATA[
    Event.observe(window, "load", function() {
     new ui.utils.tabForm("tab-form");
     Validator.run('theForm');
    });
  //]]>
  </script>
  <style type="text/css">
  /*<![CDATA[*/
    .tpl-fields { font-weight: normal; line-height:1.5em; margin-top: 5px; }
    .tpl-fields span { color: #00c; }
  /*]]>*/
  </style>
 </head>
 <body align="center">
  <ul id="container">
    <li id="header">
      <h1>{$lang.mail_template_setting}</h1>
      <div class="link"></div>
      <div id="desc">{$lang.mail_template_setting_desc}</div>
    </li>
    <li>
      <form name="theForm" method="post">
      <div id="tab-form" class="tab-form">
        <ul class="tab-bar">
          <li>{$lang.mail_template_setting}</li>
        </ul>
        <div class="tab-page">
          <table class="form-table">
          <tr>
            <td class="label">{$lang.select_mail_template}:</td>
            <td>
              <select onchange="window.location.href='admin.php?app=mailtemplate&act=setting&m_t_code='+this.value" name="mail[template_code]">
                {html_options options=$mail_template_list selected=$selected}
              </select>
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.mail_subject}:</td>
            <td><input type="text" name="mail[subject]" value="{$mail.subject}" size="60" /></td>
          </tr>
          <tr>
            <td class="label">{$lang.mail_contents}:</td>
            <td>{$rich_editor}</td>
          </tr>
          </table>
        </div>
      </div>
      <p class="submitlist">
        <input type="submit" value="{$lang.submit}" />
      </p>
      </form>
    </li>
    {include file="admin/templates/footer.html"}
  </ul>
 </body>
</html>
