{template admin_header}
<script type="text/javascript" src="js/ui/ui.core.js"></script>
<script type="text/javascript" src="js/ui/ui.sortable.js"></script>
<script type="text/javascript">
var beginMoving=false;
function checkAll(eleName,state){
	$("input[name='"+eleName+"']").attr('checked',state);
}
function checkdel()
{
	if(checkAllCheckbox('channel_id[]')!=false){
   		if(confirm('{lang channel_DelLink}')==false){
			return false;
		}else{
			$("form[name='channelinfo']").attr('action','index.php?admin_channel-remove');
			$("form[name='channelinfo']").submit();
		}
  	 }
}
function checkAllCheckbox(eleName)
{
	flag= false;
	if($("input[name='"+eleName+"']:checked").length>0)
		flag= true;
	return flag;
}
$(document).ready(function() {
	$("#list").sortable({
		update : function () {
			var order="";
			var numValue=$("input[name='channelnum[]']");
			for(var i=0;i<numValue.length;i++){
			order+=$(numValue[i]).val()+",";
			}
			$.post("index.php?admin_channel-updateorder",{order:order});
		  }
	});
});

</script>
<form name="channelinfo" method="POST" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
	    <td><br>
		<div id="navcontainer">
		  <ul id="navlist">
			<li><a href="index.php?admin_channel" id="current">{lang channel_tomanage}</a></li>
			<li><a href="index.php?admin_channel-add">{lang channel_add}</a></li>
		  </ul>
		</div>
	    </td>
	</tr>
	<tr>
		<td  height="40" colspan="2" b><strong>{lang message_title}</strong></td>
	</tr>
	<tr>
		<td colspan="2" ><li>{lang channel_NoteA}</li></td>
	</tr>
	<tr>
		<td colspan="2"  ><li>{lang channel_NoteB}</li></td>
	</tr>
	<tr>
		<td height="50" colspan="2" valign="top" ><li>{lang channel_NoteC}</li></td>
	</tr>
	</table>
	<table width="100%" cellspacing="0" cellpadding="3" class="list">
		<tr align=center class="list_title" >
  			<td align=center width="50">{lang magSelectAction}</td>
  			<td width="80" align=center>{lang channel_name}</td>
  			<td align=center width=220 >{lang channel_url}</td>
  			<td align=center width=100 >{lang magOperate}</td>
  		</tr>
	</table>
    <ul id="list" style="cursor: hand; cursor: pointer; margin:0 auto; padding:0;">
	<!--{loop $channellist $key $value}-->
    <li style="list-style:none;">
	<table width="100%" cellspacing="0" cellpadding="3" class="list">
        <tr  style="background:#f7f7f7;"  >
            <td align='center' height="64" width="50">
                <input type="checkbox" name="channel_id[]" value="{$value['id']}" />
                <input type="hidden" name="channelid[]" value = "{$value['id']}" />
                <input type="hidden" name="channelnum[]" value = "{$value['id']}" />
                <input type="hidden" class="box" id="channel_num[{$key}]" name="channel_num[]" value="{$value['displayorder']}" size='4'  readonly/>
            </td>
            <td align='center' height="64" width="80">{$value['name']}</td>
            <td align='center' height="64" width=220 ><a href="{$value['url']}" target="_blank">{$value['url']}</a></td>
            <td align='center' height="64" width=100><a href="index.php?admin_channel-edit-{$value['id']}">[{lang channel_editchannel}]</a></td>
        </tr>
	</table>
    </li>
    <!--{/loop}-->
	</ul>
	<table width="100%" cellspacing="0" cellpadding="3" class="list">
		<tr>
  			<td width="80px"><input name="chkall" onclick="checkAll('channel_id[]',this.checked)" type="checkbox" /><b>{lang magSelectAll}</b></td>
			<td><input type="submit" class="btn" name="delsel" value="{lang magDelCurrentItem}" onclick="checkdel();"/> <input type="button" class="btn" value="{lang openSortable}" onclick="$('#list').sortable('enable')"/> <input type="button" class="btn"  value="{lang offSortable}" onclick="$('#list').sortable('disable')"/></td>
			<td>&nbsp;</td>
		</tr>
	</table>
</form>
{template admin_footer}
