{template admin_header}
<style type="text/css">
.outtable{margin:0.5em auto; width:99%; border: 1px #CCCCCC solid; }
.table_title{margin:0.5em auto;width:99%;color:#333;font-size:14px;border-bottom:1px #ccc solid;padding:4px;}
.table_title a {color:#333;text-decoration:none;}
.outtable td{height:20px;line-height:20px;padding:7px 8px 3px 8px;color:#666;border-bottom:1px #ddd solid;}
.td_b{ background-color:#eee; font-weight:bold;color:#333;border-bottom:0;}
.stats{list-style: decimal inside;width:70%;padding-left:0px; margin-left:0;}
.stats li{ line-height:230%;}
</style>
<h2 class="table_title"><a href="{$setting['seo_prefix']}admin_statistics-stand{$setting['seo_suffix']}" id="current">{lang edit_toplist}</a></h2>
<table class='outtable' cellpadding="10" cellspacing="0" >
  <tr>
    <td width="25%" class="td_b">{lang user_create_toplist}</td> 
    <td width="25%" class="td_b">{lang user_edit_toplist}</td>
    <td width="25%" class="td_b">{lang user_month_toplist}</td>
    <td width="25%" class="td_b">{lang user_day_toplist}</td>
  </tr>  
  <tr>
    <td valign="top" >
    <!--{if !(bool)$edit_toplist[user_create_toplist]}-->
    {lang no_user}
    <!--{else}-->
    <!--{loop $edit_toplist[user_create_toplist] $key $user}-->
   <a href="{$setting['seo_prefix']}user-space-{$user[uid]}{$setting['seo_suffix']}" target="_blank" >{$user[username]}</a> ({$user[num]})
    <!--{/loop}-->
    <!--{/if}-->
    </td>
    <td valign="top" >
    <!--{if !(bool)$edit_toplist[user_edit_toplist]}-->
    {lang no_user}
    <!--{else}-->
    <!--{loop $edit_toplist[user_edit_toplist] $key $user}-->
    <a href="{$setting['seo_prefix']}user-space-{$user[uid]}{$setting['seo_suffix']}" target="_blank" >{$user[username]}</a> ({$user[num]})
    <!--{/loop}-->
    <!--{/if}-->
    </td>
    <td valign="top" >
    <!--{if !(bool)$edit_toplist[user_month_toplist]}-->
    {lang no_user}
    <!--{else}-->
    <!--{loop $edit_toplist[user_month_toplist] $key $user}-->
    <a href="{$setting['seo_prefix']}user-space-{$user[uid]}{$setting['seo_suffix']}" target="_blank" >{$user[username]}</a> ({$user[num]})
    <!--{/loop}-->
    <!--{/if}-->
    </td>
    <td valign="top" >
    <!--{if !(bool)$edit_toplist[user_day_toplist]}-->
    {lang no_user}
    <!--{else}-->
    <!--{loop $edit_toplist[user_day_toplist] $key $user}-->
 	<a href="{$setting['seo_prefix']}user-space-{$user[uid]}{$setting['seo_suffix']}" target="_blank" >{$user[username]}</a> ({$user[num]})
    <!--{/loop}-->
    <!--{/if}-->
    </td>
  </tr>
  
</table>
<table class='outtable' align="center" cellpadding="10" cellspacing="0" >
  <tr>
    <td class="td_b">{lang statistics_message1} {$edit_toplist[last_cache_time]} {lang statistics_message2} {$edit_toplist[cache_time]} {lang statistics_message3}</td>
  </tr>
</table>
{template admin_footer}