<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={WIKI_CHARSET}">
<title>{lang commonAdminMngCenter}</title>

<link href="style/default/admin/common.css" rel="stylesheet" type="text/css" />
<link href="style/default/admin/gray.css" rel="stylesheet" type="text/css" />
<link href="js/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript">
    var GB_ROOT_DIR = "js/greybox/";
</script>
<script type="text/javascript" src="js/greybox/AJS.js"></script>
<script type="text/javascript" src="js/greybox/AJS_fx.js"></script>
<script type="text/javascript" src="js/greybox/gb_scripts.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/popWindow.js"></script>
<script type="text/javascript">
var g_seo_prefix, g_seo_suffix, g_uname_minlength, g_uname_maxlength;

g_seo_prefix = "{$setting[seo_prefix]}";
g_seo_suffix = "{$setting['seo_suffix']}";

g_uname_minlength = "{$setting[name_min_length]}"||3;
g_uname_maxlength = "{$setting[name_max_length]}"||15;

$(document).ready(function(){
	//parent.setDocumentHeight($(document).height());
});

</script>
</head>
<body>