<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={WIKI_CHARSET}" />
<link href="style/default/admin/common.css" rel="stylesheet" type="text/css" />
<link href="style/default/admin/gray.css" rel="stylesheet" type="text/css" />
<title>{lang commonManageLogin}</title>
<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
<br />
<br />
<br />
<br />
<br />
<br />
<form name="adminform"  style="margin: 0;" action="index.php?admin_main-login" method="post">
	<table border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#dddddd" bgcolor="#ffffff">
		<tr>
			<td bgcolor="#ffffff" style="padding:20px">
			<table style="border-collapse: collapse" cellspacing="0" cellpadding="0" width="100%" border="0">
				<tr>
					<td width="70" rowspan="4" align="center" valign="middle">
					<img src="style/default/admin/login2.gif"   width="45" height="45"><br>
					{lang commonManageLogin}<br>
					</td>
					<td width="56" height="23">{lang commonUserName}:</td>
					<td height="23">{$user[username]}&nbsp;&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<td height="21">{lang commonPassword}:</td>
					<td height="21"> <input class="box" tabindex="0" type="password" size="32"  name="password"></td>
				</tr>
				<tr>
					<td height="21" colspan="2">
					<p align="center"><br>
					<input name="submit" type="submit" class="btn" tabindex="1" value="{lang commonLogin}"></p>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td height="30" align="center" valign="bottom">
			<a href="http://kaiyuan.hudong.com/" target="_blank">HDWiki V{HDWIKI_VERSION} 
			release {HDWIKI_RELEASE}</a>, All rights reserved</td>
		</tr>
	</table>
</form>
<script type="text/javascript"> 
{if isset($loginmsg) }alert('$loginmsg');{/if}
	$("input[name='password']").focus();
</script>
</body>
</html>
