{template admin_header}
<style type="text/css">
dd{margin:0px;padding:0px;}
</style>
 
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td><br>
	<div id="navcontainer">
	  <ul id="navlist">
		<li><a href="index.php?admin_hotsearch" id="current">{lang hot_search}</a></li>
	  </ul>
	</div>
    </td>
</tr>
</table>
<table align="center" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
<form action="index.php?admin_hotsearch"  method="POST">
<table width=98% align=center cellspacing=1 cellpadding=3 class=table_area>
<tr>
	<td width=15%>{lang hot_searchname}</td>
	<td>{lang hot_searchurl}</td>
</tr>
<tr>
	<td width=15%><input name="hotname[0][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[0][name]}"/></td>
	<td><input name="hotname[0][url]" class="wenben" type="text" size="30" value="{$hotsearch[0][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[1][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[1][name]}"/></td>
	<td><input name="hotname[1][url]" class="wenben" type="text" size="30" value="{$hotsearch[1][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[2][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[2][name]}"/></td>
	<td><input name="hotname[2][url]" class="wenben" type="text" size="30" value="{$hotsearch[2][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[3][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[3][name]}"/></td>
	<td><input name="hotname[3][url]" class="wenben" type="text" size="30" value="{$hotsearch[3][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[4][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[4][name]}"/></td>
	<td><input name="hotname[4][url]" class="wenben" type="text" size="30" value="{$hotsearch[4][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[5][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[5][name]}"/></td>
	<td><input name="hotname[5][url]" class="wenben" type="text" size="30" value="{$hotsearch[5][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[6][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[6][name]}"/></td>
	<td><input name="hotname[6][url]" class="wenben" type="text" size="30" value="{$hotsearch[6][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[7][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[7][name]}"/></td>
	<td><input name="hotname[7][url]" class="wenben" type="text" size="30" value="{$hotsearch[7][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[8][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[8][name]}"/></td>
	<td><input name="hotname[8][url]" class="wenben" type="text" size="30" value="{$hotsearch[8][url]}"/></td>
</tr>
<tr>
	<td width=15%><input name="hotname[9][name]" class="wenben" type="text" size="22" maxlength="40" value="{$hotsearch[9][name]}"/></td>
	<td><input name="hotname[9][url]" class="wenben" type="text" size="30" value="{$hotsearch[9][url]}"/></td>
</tr>
<tr>
	<td colspan="2" class="red">{lang hot_searchtip}</td>
</tr>


<tr style="display:none">
<td width=100 align=center>{lang magCatIco}</td>
<td><input id="catico" name="catico" class="wenben" type="text" size="22" maxlength="40" value=""/></td>
</tr>

<tr style="display:none">
<td width=100 align=center>{lang magCatIntro}</td>
<td><textarea id="catintro" name="catintro" class="wenben" cols="23" rows="8"></textarea></td>
</tr>
 

<tr>
  <td colspan="2" align=center><center>
      <input name="submit" class="btn" type="submit" value="{lang commonOK}" />
      <input name="reset" class="btn" type=reset value="{lang commonReset}" />
    </center>
   </td>
</tr>
</table>
</form>
{template admin_footer}