{template header}
<style type="text/css">
#calendar { border: 1px solid #C1C1C1; background: #FFF; margin-bottom: 0.8em;}
#calendar td { padding: 2px; font-weight: bold;}
#calendar_week td { height: 2em; line-height: 2em; border-bottom: 1px solid #E2E2E2;}
#hourminute td {padding: 4px 2px; border-top: 1px solid #E2E2E2;}
	.calendar_expire, .calendar_expire a:link, .calendar_expire a:visited {	color: #535353; font-weight: normal; }
	.calendar_default, .calendar_default a:link, .calendar_default a:visited { color: #535353;}
	.calendar_checked, .calendar_checked a:link, .calendar_checked a:visited { color: #DD0000; font-weight: bold;}
	td.calendar_checked, span.calendar_checked{ background: #E2E2E2;}
	.calendar_today, .calendar_today a:link, .calendar_today a:visited { color: #535353; font-weight: bold; }
#calendar_header td{ width: 30px; height: 20px; border-bottom: 1px solid #E2E2E2; font-weight: normal; }
#calendar_year { display: none;	line-height: 130%; background: #FFF; position: absolute; z-index: 10; }
	#calendar_year .col { float: left; background: #FFF; margin-left: 1px; border: 1px solid #E2E2E2; padding: 4px; }
#calendar_month { display: none; background: #FFF; line-height: 130%; border: 1px solid #DDD; padding: 4px; position: absolute; z-index: 11; }
</style>

<div id="append_parent"></div>
<script type="text/javascript" src="js/calendar.js"></script>
<script type="text/javascript">
function docheck(){
	var signature=$.trim($('#signature').val());
	if(signature.length > 500){
		alert('{lang editProfiletoolong}');
		return false;
	}
	var gender=( $('#gender').attr("checked")==true )?0:1;
	$.post(
		"index.php?user-editprofile",
		{gender:gender, birthday:$('#birthday').val(),location:$('#location').val(), signature:$('#signature').val(),submit:'true' },
		function(xml){
			$.dialog.box('tips', '个人管理', '{lang editProfileTip1}');
			setTimeout("$.dialog.close('tips')",1000);
		}
	);
	return false;
}
	function expand(id){
		if(id=='usermanage'){
			$("ul#usermanage").toggle(); 
		}else{
			$('ul#userpms').toggle();
		}
	}
</script>
<div class="hd_map">
	<a href="{$setting['site_url']}">{$setting['site_name']}</a> &gt; <a href="{url user-profile}">个人管理</a> &gt; 个人资料设置</div>
	
<div class="r w-710 o-v m-t10 p-b10 gl_manage_main">
	<h2 class="h3 bold">个人资料设置</h2>
	<form  name="profileform" method="post" action="{url user-editprofile}" onsubmit="return docheck();">
	<ul class="col-ul">
		<li><span>用户名:</span>$user['username']</li>
		<li><span>性别:</span><input name="gender" id="gender" type="radio" value="0" {if !$user[gender]}checked="checked"{/if} /> {lang female} &nbsp; &nbsp; <input name="gender" type="radio" value="1" {if $user[gender]}checked="checked"{/if}/>{lang male}</li>
		<li><span>生日:</span> <input  name="birthday"  id="birthday" type="text" class="reg-inp" value="$birthday"  onclick="showcalendar(event, this);" /></li>
		<li><span>所在地:</span><input name="location"  id="location" type="text" class="reg-inp" value="{$user['location']}" maxlength="30"/></li>
		<li><span>个人介绍:</span><textarea name="signature" id="signature" cols="60" rows="10">$user[signature]</textarea><br/>{lang editProfileTip3}</li>
		<li><input name="submit" type="submit" value="{lang submit}"  class="btn-submit"  /></li>
	</ul>
	</form>
</div>

<div class="l w-230">
<div class="m-t10 p-b10 sidebar gl_manage">
	<h2 class="col-h2"><span onclick="expand('usermanage');">{lang profile}</span></h2>	
	<ul id="usermanage">
		<li><a href="{url user-profile}" target="_self"><img alt="" src="style/default/gl_manage/grzl.gif" />个人资料</a></li>
		<li><a href="{url user-editprofile}" target="_self" class="on" ><img src="style/default/gl_manage/grzl_set.gif"/>个人资料设置</a></li>
		<li><a href="{url user-editpass}" target="_self"><img src="style/default/gl_manage/change_pw.gif"/>修改密码</a></li>
		<li><a href="{url user-editimage}" target="_self"><img src="style/default/gl_manage/grzl_set.gif" />修改头像</a></li>
		<li><a href="{url doc-managesave}" target="_self"><img src="style/default/gl_manage/ctbccgx.gif"/>词条保存草稿箱</a></li>
	</ul>
	<h2 class="col-h2"><span onclick="expand('userpms');">短消息</span></h2>		
	<ul id="userpms">
		<li><a href="{url pms-box-inbox}" target="_self"><img alt="" src="style/default/gl_manage/sjx.gif" />收件箱</a></li>
		<li><a href="{url pms-box-outbox}" target="_self" ><img src="style/default/gl_manage/fjx.gif"/>发件箱</a></li>
		<li><a href="{url pms-sendmessage}" target="_self" ><img src="style/default/gl_manage/fdxx.gif"/>发短消息</a></li>
		<li><a href="{url pms-box-drafts}" target="_self"><img src="style/default/gl_manage/cgx.gif" />草稿箱</a></li>
		<li><a href="{url pms-blacklist}" target="_self"><img src="style/default/gl_manage/hllb.gif"/>忽略列表</a></li>
	</ul>
</div>
</div>
<div class="c-b"></div>
{template footer}