{template header}
<script type="text/javascript">
	function expand(id){
		if(id=='usermanage'){
			$("ul#usermanage").toggle(); 
		}else{
			$('ul#userpms').toggle();
		}
	}
</script>


<div class="hd_map">
	<a href="{$setting['site_url']}">{$setting['site_name']}</a> &gt; <a href="{url user-profile}">个人管理</a> &gt; {lang profile}</div>
	
<div class="r w-710 o-v m-t10 p-b10 gl_manage_main">
	<h2 class="h3 bold">{lang profile}</h2>
	<dl class="col-dl gr_info font-14 ">
	<dd><a href="#" target="_blank" class="a-img2 l"><img alt="" src="<!--{if $user[image] == ''}-->style/default/user.jpg<!--{else}-->{$user[image]}<!--{/if}-->"/></a></dd>
	<dd>{lang userName}:<!--{$user[username]}--> (<!--{if $user[gender]==1}-->{lang male}<!--{else}-->{lang female}<!--{/if}-->)</dd>
	<dd>人气指数:<span class="red"><!--{$user[views]}--></span></dd>
    <dd>总积分:<span class="gray">$user[credits]</span>
    <!--{if isset($iscredit)}--> <a href="{url plugin-ucenter-exchange}">UC积分兑换</a><!--{/if}-->
    </dd>
	<dd>头衔：<!--{$user[grouptitle]}-->
			<!--{for $i=0; $i<$user['editorstar'][3]; $i++}-->
			<img src="style/default/star_level3.gif"/>
			<!--{/for}-->
			<!--{for $i=0; $i<$user['editorstar'][2]; $i++}-->
			<img src="style/default/star_level2.gif"/>
			<!--{/for}-->
			<!--{for $i=0; $i<$user['editorstar'][1]; $i++}-->
			<img src="style/default/star_level1.gif"/>
			<!--{/for}--></dd>
	<dd>所在地：<span class="gray"><!--{$user[location]}--></span></dd>
	<dd>{lang birthday}:<span class="gray"><!--{$user[birthday]}--></span></dd>
	<dd>注册时间：<span class="gray">{$user[regtime]}</span></dd>
	</dl>
<div class="info_other">
	<h3 class="h2 bor_b-ccc" >积分明细</h3>
	<table class="mar-t8 table">
	<thead>
	<tr>
		<td>总积分 </td>
        <td>经验</td>
		<td>金币</td>
		<td>日常操作</td>
		<td>创建词条</td>
		<td>编辑词条</td>
		<td>删除词条</td>
		<td>宣传中心</td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{$creditDetail['creditTotal']} </td>
        <td>{$user['credit2']} </td>
        <td>{$user['credit1']} </td>
        
		<td>{$creditDetail['dailyOperate']} </td>
		<td>{$creditDetail['createDoc']}</td>
		<td>{$creditDetail['editDoc']}</td>
		<td>{$creditDetail['removedDoc']}</td>
		<td>{eval echo $creditDetail['promotion-visit']+$creditDetail['promotion-register']}</td>
	</tr>
	</tbody>
	</table>
	<h3 class="h2 bor_b-ccc" >个人介绍</h3>
	<p>{$user[signature]}</p>
</div>
</div>
<div class="l w-230">
<div class="m-t10 p-b10 sidebar gl_manage">
	<h2 class="col-h2"><span onclick="expand('usermanage');">{lang profile}</span></h2>	
	<ul id="usermanage">
		<li><a href="{url user-profile}" target="_self" class="on"><img alt="" src="style/default/gl_manage/grzl.gif" />个人资料</a></li>
		<li><a href="{url user-editprofile}" target="_self" ><img src="style/default/gl_manage/grzl_set.gif"/>个人资料设置</a></li>
		<li><a href="{url user-editpass}" target="_self"><img src="style/default/gl_manage/change_pw.gif"/>修改密码</a></li>
		<li><a href="{url user-editimage}" target="_self"><img src="style/default/gl_manage/grzl_set.gif" />修改头像</a></li>
		<li><a href="{url doc-managesave}" target="_self"><img src="style/default/gl_manage/ctbccgx.gif"/>词条保存草稿箱</a></li>
	</ul>
	<h2 class="col-h2"><span onclick="expand('userpms');">短消息</span></h2>		
	<ul id="userpms">
		<li><a href="{url pms-box-inbox}" target="_self"><img alt="" src="style/default/gl_manage/sjx.gif" />收件箱</a></li>
		<li><a href="{url pms-box-outbox}" target="_self" ><img src="style/default/gl_manage/fjx.gif"/>发件箱</a></li>
		<li><a href="{url pms-sendmessage}" target="_self" ><img src="style/default/gl_manage/fdxx.gif"/>发短消息</a></li>
		<li><a href="{url pms-box-drafts}" target="_self"><img src="style/default/gl_manage/cgx.gif" />草稿箱</a></li>
		<li><a href="{url pms-blacklist}" target="_self"><img src="style/default/gl_manage/hllb.gif"/>忽略列表</a></li>
	</ul>
</div>
</div>
<div class="c-b"></div>
{template footer}