{template header}
<form id="form1" name="searchform" action="{url search-fulltext}" method="post">
<div class="m-t10 adv_search">
<span class="bold">搜索</span>
<ul class="m-t10">
<li><span>关键字：</span><input name="searchtext" type="text" value="{$keyword}"/></li>
<li><span>作者：</span><input name="author" type="text" /></li>
</ul>
</div>
 
<div class="m-t10 adv_search">
<span class="bold">搜索选项</span>
<ul class="m-t10">
<li><span>搜索方式：</span>
	<label><input name="seachtype" type="radio" value="title" <!--{if $seachtype=='title'||$searchtype==''}-->checked="checked"<!--{/if}--> />标题</label>
	<label><input name="seachtype" type="radio" value="content" <!--{if $seachtype=='content'}-->checked="checked"<!--{/if}--> />全文</label>
	<label><input name="seachtype" type="radio" value="tag" <!--{if $seachtype=='tag'}-->checked="checked"<!--{/if}--> />标签</label>
</li>
<li><span>搜索时间：</span>
				<select name="timelimited">
					<option value="0">{lang searchTimeTrip1}</option>
					<option value="86400">{lang searchTimeTrip2}</option>
					<option value="172800">{lang searchTimeTrip3}</option>
					<option value="432000">{lang searchTimeTrip4}</option>
					<option value="1296000">{lang searchTimeTrip5}</option>
					<option value="5184000">{lang searchTimeTrip6}</option>
					<option value="8640000">{lang searchTimeTrip7}</option>
					<option value="31536000">{lang searchTimeTrip8}</option>
				</select>
				
				<label><input name="withinbefore" value="within" type="radio" <!--{if $withinbefore=='within'||$searchtype==''}-->checked="checked"<!--{/if}--> />以内</label>
				<label><input name="withinbefore" value="before" type="radio" <!--{if $withinbefore=='before'}-->checked="checked"<!--{/if}-->/>以前</label>
</li>
<li><span>排序方式：</span><select name="ordertype">
							<option value="time">发布时间</option>
							<option value="comments">评论次数</option>
							<option value="views">浏览次数</option>
						</select>
						<label><input name="ascdesc" type="radio" value="asc" <!--{if $ascdesc=='asc'}-->checked="checked"<!--{/if}--> />{lang searchSortordAsc}</label>
						<label><input name="ascdesc" type="radio" value="desc" <!--{if $ascdesc=='desc'||$ascdesc==''}-->checked="checked"<!--{/if}--> />{lang searchSortordDesc}</label>
</li>
<li><span>搜索范围：</span>
				<select name="categoryid[]" size="10"  multiple="multiple">
					<option selected="" value="all">{lang searchAllCategory}</option>
					{$categorytree}
				</select>
</li>
<li><input name="full" type="submit" value="搜 索" class="btn_inp" /></li>
</ul>
</div>
 
</form>

<div class="c-b"></div>
{template footer}