<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> ECMall </title>
  <meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
  <link href="admin/styles/general.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="?act=jslang"></script>
  {script src="ecmall,ui.utils,validator"}
  <script type="text/javascript">
  Event.observe(window, "load", function() {
   new ui.utils.tabForm("tab-form");
   Validator.run("theForm");
  });
  </script>
 </head>
 <body align="center">
  <ul id="container">
    <li id="header">
      <h1>{$lang.pm_owner}</h1>
      <div class="link"></div>
      <div id="desc">{$lang.pm_notes}</div>
    </li>
    <li>
        <form name="theForm"  method="post">
          <div id="tab-form" class="tab-form">
            <ul class="tab-bar">
              <li>{$lang.general}</li>
            </ul>
            <div class="tab-page">
              <table class="form-table">
                <tr>
                    <td class="label">{$lang.pm_title}:</td>
                    <td ><input type="text" name="pm_title" size="30" dataType="string" required="true"/></td>
                </tr>
                <tr>
                    <td class="label">{$lang.pm_contents}:</td>
                    <td ><textarea name="pm_contents" rows="10" cols="50" dataType="string" required="true"></textarea></td>
                </tr>
            </table>
            </div>
            <p class="submitlist">
            <input type="hidden" name="act" value="send_notify_owner" />
              <input type="submit" value="{$lang.notify_send}" />
            </p>
          </div>
        </form>
    </li>
    <ul>{include file="admin/templates/footer.html"}
    </ul>
 </body>
 </html>