<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> new document </title>
  <meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
  <link href="admin/styles/general.css" rel="stylesheet" type="text/css" />
  {script src="ecmall,ui.datagrid"}
  <script type="text/javascript" src="admin.php?app=wanted&amp;act=jslang"></script>
  <script type="text/javascript">
    Event.observe(window, 'load', function() {
      var grid = new ui.DataGrid($("data-grid"));
    });
  </script>
 </head>

 <body>
  <ul id="container">
    <li id="header">
      <h1>{$lang.wanted_view}</h1>
      <div class="link"></div>
      <div id="desc">
        <div id="page-selector">
          {$lang.goto_page}{page_selector from=$list.info url=$url_format}
        </div>
        <span>{$stats}</span>
      </div>
    </li>
    <li id="tips" class="search-bar">
      <form method="get" action="admin.php">
        {$lang.keywords}: <input type="text" name="keywords" value="{$smarty.get.keywords}" />
        <input type="submit" value="{$lang.button_search}" />
        <input type="hidden" name="app" value="wanted"/>
        <input type="hidden" name="act" value="view"/>
      </form>
    </li>
    <li id="wrapper">
      <table class="grid" cellspacing="0" id="data-grid">
        <tr>
          <th class="first-cell"><input type="checkbox" class="checkAll">{sort_link by=user_name text=$lang.user_name}</th>
          <th>{$lang.wanted_subject}</th>
          <th>{sort_link by=add_time text=$lang.wanted_add_time}</th>
          <th>{sort_link by=expiry text=$lang.wanted_expiry}</th>
          <th>{sort_link by=region_id text=$lang.wanted_location}</th>
          <th>{sort_link by=replies text=$lang.wanted_reply_count}</th>
          <th>{$lang.handler}</th>
        </tr>
        {foreach from=$list.data item=wanted}
        <tr id="{$wanted.user_id}">
          <td class="first-cell"><input type="checkbox" name="id" value="{$wanted.log_id}"><a href="index.php?app=wanted&amp;act=view&amp;user_id={$wanted.user_id}" target="_blank">{$wanted.user_name|escape}</a></td>
          <td><a href="index.php?app=wanted&amp;act=show&amp;id={$wanted.log_id}" target="_blank">{$wanted.subject|escape}</a>&nbsp;</td>
          <td><span>{$wanted.add_time|date}</span>&nbsp;</td>
          <td><span>{$wanted.expiry|date}</span>&nbsp;</td>
          <td><span>{$wanted.region_name|escape}</span>&nbsp;</td>
          <td><span>{$wanted.replies}</span>&nbsp;</td>
          <td>
            <a href="index.php?app=wanted&amp;act=show&amp;id={$wanted.log_id}" target="_blank">{$lang.view}</a>
            <a href="javascript:if(confirm('{$lang.drop_confirm}'))window.location='admin.php?app=wanted&amp;act=drop&amp;ids={$wanted.log_id}';">{$lang.delete}</a>
          </td>
        </tr>
        {foreachelse}
        <tr><td colspan="11" class="no-records">{$lang.no_records}</td></tr>
        {/foreach}
        <tr>
          <td colspan="7">
            <ul id="batch-links" style="margin-top:5px;padding-top:5px;">
              <li class="batch-link" action="drop" style="line-height:20px;">{$lang.del_selected}</li>
            </ul>
          </td>
        </tr>
      </table>
      <div id="page-list">{page_links from=$list.info url=$url_format}</div>
    </li>
    {include file="admin/templates/footer.html"}
  </ul>
 </body>
</html>
