<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$title}</title>
<meta name="description" content="{$meta_description}" />
<meta name="keywords" content="{$meta_keywords}" />
<link href="{$web_path}{$styledir}/default.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{$web_path}js/base.js"></script>
<script type="text/javascript" src="{$web_path}include/functions.js"></script>
<script type="text/javascript" src="{$web_path}include/xmlhttp.js"></script>
<script type="text/javascript">
function limit_words(varfield,obj_str,limit_len)
{
    var leftchars = get_left_chars(varfield,limit_len);
    if (leftchars >= 0)
    {   
    	return true;
    }
    else
    {
       ls_str = {lang warning_info_lang};
       window.alert(ls_str);
       return false;     
    } 
    return true;
}
function search_submit()
{
	if(document.wordform.word.value=="" || document.wordform.word.value.length<2)
    {
		document.wordform.word.focus();
		alert("{lang warning_ques_mistake}");
		return false;
	}
	return true;
}
function ask_submit()
{
	var word=document.wordform.word.value;
	location.href="{$web_path}ask.php?word="+word;
}
function share_submit()
{
	var word=document.wordform.word.value;
	location.href="{$web_path}share.php?word="+word;
}
function parse_message(data)
{
	var did=document.getElementById("newmessagetip");
	if(data)
	{
		if(data >=1)
		{
			did.innerHTML='&nbsp;&nbsp;<a href="my.php?command=mymessage&newpm"><font size="2" color="red">{lang menu_have_newmsg}</font></a>&nbsp;&nbsp;';
			
		}
		else
		{
			did.innerHTML='';
		}
	}
	else
	{
		did.innerHTML='<font size="2" color="red">{lang warning_msg_cheching}</font>';
	}
}
</script>
</head>
<body>
<div id="main">
<div id="usrbar">
<nobr>
<script type="text/javascript">
<!--
var now = new Date();
var hours = now.getHours();
if(hours < 6){document.write("{lang welcome_daybreak}")}
else if (hours < 9){document.write("{lang welcome_morning}")}
else if (hours < 12){document.write("{lang welcome_morning2}")}
else if (hours < 14){document.write("{lang welcome_noon}")}
else if (hours < 17){document.write("{lang welcome_afternoon}")}
else if (hours < 19){document.write("{lang welcome_evening}")}
else if (hours < 22){document.write("{lang welcome_evening2}")}
else {document.write("{lang welcome_night}")}
var cyask_user='{$cyask_user}';
if(cyask_user)
{
	document.write('<span id="newmessagetip"></span>&nbsp;<b>'+cyask_user+'</b>&nbsp;&nbsp;<a href="{$web_path}my.php">{lang menu_usercenter}</a>&nbsp;|&nbsp;<a href="{$web_path}login.php?command=logout&url='+StrCode(location.href)+'">{lang button_logout}</a>');
	XMLHttp.getR('{$web_path}process/msgcheck.php',parse_message,'text');
	var adminid='{$cyask_adminid}';
	if(adminid==1)
	{
		document.write('&nbsp;|&nbsp;<a href="{$web_path}admin.php">{lang menu_admincenter}</a>');
	}
}
else
{document.write('&nbsp;<a href="{$web_path}login.php?url='+StrCode(location.href)+'">{lang button_login}</a>&nbsp;|&nbsp;<a href="{$web_path}register.php?url='+StrCode(location.href)+'">{lang button_regist}</a>');}
// -->
</script>
</nobr>
</div>
<div id="head">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td valign="top" width="160"><a href="{$web_path}"><img src="{$web_path}{$styledir}/1000ask.gif" border="0" /></a></td>
<td width="390">
<div class="Tit"><span class="B">{lang menu_cyask}</span></div>
<form name="wordform" action="{$web_path}search.php" method="get" onsubmit="return search_submit()">
<input name="word" class="formfont" tabIndex="1" maxLength="50" size="42" />
<br /><br />
<input type="submit" name="search" value="{lang button_search_answer}" />
<input type="button" name="ask" value="{lang button_go_ask}" onclick="ask_submit();" />
<input type="button" name="share" value="{lang button_go_share}" onclick="share_submit();" />
</form>
</td>
<td><font size="2"></font></td>
</tr>
</table>
</div>
<br />
