    <li id="footer">
      <div>
      {sprintf lang=query_info var1=query_time var2=query_count var3=query_user_count}
        {if $gzip_enabled}{$lang.gzip_enabled}{else}{$lang.gzip_disabled}{/if}
        {if $memory_info}{sprintf lang=memory_info var1=memory_info}{/if}<br />
        Powered by <a href="http://ecmall.shopex.cn/?pid=6&host={$site_domain}" target="_blank">ECMall {$ecm_version}</a> &copy; 2005-2008 <a href="http://www.shopex.cn" target="_blank">ShopEx Inc.</a>
        {if $send_mail_code}<span id="send_mail_code">{$send_mail_code}</span>{/if}
      </div>
    </li>
    <script type="text/javascript">
    <!--
      Event.observe(document, "click", function() {
        $("drop-menu", parent).style.display = "none";
      });
    //-->
    </script>