<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> ECMall </title>
  <meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
  <link href="admin/styles/general.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="?act=jslang"></script>
  {script src="ajax,ecmall,ui.utils,validator,ui.effect,ui.imgpreviewer"}
  <script type="text/javascript">
  Event.observe(window, "load", function() {
   new ui.utils.tabForm("tab-form");
   Validator.run('theForm');
   initImgPreviewer();
  });

  function dropPicture(src, sender) {
    Ajax.call("admin.php?app=partner&act=delete_picture&id={$partner.partner_id}", function(res){
      Element.remove(sender);
    });
  }
  </script>
 </head>
 <body align="center">
  <ul id="container">
    <li id="header">
      <h1>{if $partner.partner_id}{$lang.partner_edit}{else}{$lang.partner_add}{/if}</h1>
      <div class="link">[<a href="admin.php?app=partner&amp;act=view">{$lang.partner_view}</a>]</div>
      <div id="desc">{$lang.partner_detail_desc}</div>
    </li>
    <li>
      <form method="post" enctype="multipart/form-data" name="theForm">
      <div id="tab-form" class="tab-form">
        <ul class="tab-bar">
          <li>{$lang.general}</li>
        </ul>
        <div class="tab-page">
          <table class="form-table">
            <tr>
              <td class="label">{$lang.partner_name}:</td>
              <td><input name="partner_name" type="text" id="partner_name" value="{$partner.partner_name|escape}" size="40" dataType="string" required="true" /></td>
            </tr>
            <tr>
              <td class="label" >{$lang.partner_website}:</td>
              <td><input name="partner_website" type="text" id="user" value="{$partner.partner_website|escape}" size="40" dataType="url" required="true" /></td>
            </tr>
            <tr>
              <td class="label">{$lang.partner_logo_local}:
                <img src="{$partner.partner_logo}" class="icon-picture" onerror="this.style.display='none'" />
              </td>
              <td><input type="file" name="partner_logo_local" size="40" /></td>
            </tr>
            <tr>
              <td class="label">{$lang.sort_order}:</td>
              <td><input type="text" name="sort_order" size="40" value="{$partner.sort_order}" /></td>
            </tr>
          </table>
        </div>
        <p class="submitlist">
          <input type="submit" value="{$lang.submit}" />
          <input type="reset" value="{$lang.reset}" />
        </p>
      </div>
      </form>
    </li>
    {include file="admin/templates/footer.html"}
  </ul>
 </body>
</html>
