/*--------------------------------
	css for hdwiki 4.0
	page build by banma@vip.qq.com
	date:08-06-25
	sytle:aoyun
 ---------------------------*/  
@import url('basic.css');
@import url('content.css');
@import url('mix_color.css');
/*==============head css============*/
#html{background: url(bodybg.jpg) no-repeat left top;}
#login{width:400px;line-height:20px;text-align:right;color:#000;height:20px; margin-left:540px;margin-top:3px}
#login a{color:#000;}
#login li{display:inline;padding:0 2px;height:20px;}
.wrap { height:150px;width: 950px; text-align: left; margin: 0 auto; background: #FFFFFF url(header.jpg) no-repeat center top;}
.wrap_main {padding:0 5px;}
.dcbody{width:950px;margin:0 auto;}
#header_inc {height:225px; width:100%; margin:0 auto;}
#header { float:left;width:0px;display:inline;margin:5px 0 0 5px;}
#menu{float:left;width:725px;height:27px;line-height:30px;display:inline;font-size:13px;}
#menu ul{float:left;margin-left:5px;*margin-left:5px !important;*margin-left:2px;}
#menu li{float:left;}
#menu li a{text-decoration: none;float:left;color:#fff;padding:0px 6px;background:url(menu.gif) no-repeat; width:56px; height:27px; text-align:center;margin:6px 4px 0 0;}
#menu li a:hover{background-position:left -30px;color:#fff;}
#menu .amain a{background-position:left -30px;color:#fff;}
#stylemenu {float:right;width:211px;height:12px;display:inline;margin-top:9px;margin-right:8px;}
#stylemenu .col{float:right;}
#stylemenu img{border:1px #fff solid;}
#stylemenu .styleon{border-width:2px;margin-bottom:-1px;}

#search{float:right;margin:50spx 5px 0px 0px;width:150px;}
.btn_txt{width:130px;height:18px;line-height:18px;border:1px #cdcdcd solid;padding:2px 8px 0 8px;color:#666;}
.btn_inp{width:50px;height:22px;border:1px solid;border-color:#f3f0f0 #cdcaca #cdcaca #f3f0f0; margin:3px 5px 5px 0px;}

#bjsy{float:left;width:211px;height:50px;line-height:29px;padding:0 15px; background-image:url(bjsy.png);margin:0px 0px 5px 0px;}
#cjct{float:left;width:211px;height:50px;line-height:29px;padding:0 15px; background-image:url(cjct.png);}
a#bjsy{ display:block;color:black;}
a#cjct{display:block;color:white;}

#nav{float:left;width:5;height:30px;line-height:30px;display:inline;font-size:12px;font-weight:bold;margin:80px 0px 5px 0px;}
#nav ul{float:left;}
#nav li{float:left;}
#nav li a{text-decoration: none;float:left;color:#fff; width:85px; height:30px; text-align:center;}
#nav li a:hover{background-position:right -43px;color:#cccccc;}
#nav .amain a{background-position:right -43px;color:#fff;}


.topclass{width:85px;height:30px;background-image: url(dhbg.png);}
/*==============foot css============*/
#footer{float:left;width:950px;height:100px;line-height:22px;padding-top:10px;margin-top:15px;background:url(footerbg.jpg) repeat-x left top;}
#footer-p{float:left;font-family:Tahoma,taho,verdana,'trebuchet ms',sans-serif;font-size:12px;}
#footer-p span{color:#f39700; font-weight:bold;}
#nav_bot{width:400px;clear:right;text-align:right;}
#nav_bot li{padding-right:10px;margin-left:10px;display:inline;}
#nav_bot .bg_no img{ vertical-align:middle;}

/*----------columns css------------*/
 .columns{display:block;margin-bottom:7px;line-height:22px;overflow:hidden;padding:2px;}
 .col-h2{padding:0 3% 0 2%;}
 .col-ul{width:95%;}
 .col-ul li{clear:both;} 
 .a-c li{text-align:left;}
 .a-mar8 dd a{margin-right:8px;} 
 .reg-inp{float:left;height:14px;padding:2px 8px;vertical-align:middle;}
 .btn-submit{height:30px;width:80px; vertical-align:middle;line-height:30px;}
 .btn-submit2{height:24px;width:80px;vertical-align:middle;}
 .btn-file{height:25px;width:210px;padding:2px 0;vertical-align:middle;}
 input.btn-file{line-height:25px;display:block;}
 .wid540{width:540px;}
 .wid710{width:710px;}
 #warpm,.warp{float:left;width:950px !important;} 
 .pa-b200{padding-bottom:200px;}
/*-------------------------------default.htm -------------------------------------*/
/*--------- #left -----------*/
#left{float:left;width:215px;margin-top:8px;}
#left .columns{border:1px #e6e6e6 solid;}
#left .columns .col-h2{background:#f7f7f8; border-bottom:1px #efefef solid;margin-bottom:0;height:30px;line-height:30px;}
/*-------baike_category -------*/
#bkfl{width:209px;overflow:hidden;background-color:#f7f7f8;}
#bkfl .col-h2{margin:-2px 0 2px 0;}
#bkfl dl{float:left;clear:both;padding:8px 2px 0 8px;line-height:18px; text-align:left;width:95%;overflow:hidden;}
#bkfl dt{font-weight:bold;margin-bottom:5px;}
#bkfl dd{line-height:22px;}
#bkfl dd a{margin-right:10px;word-break:break-all;display:inline-block; white-space:pre-wrap;}
/*-------letter order-------*/
#azmsx{line-height:30px;}
#azmsx .col-h2{margin:0 0 2px 0;height:30px;}
#azmsx .col-ul{margin-top:15px;padding:0 5px;}
#azmsx li{float:left;clear:none;}
#azmsx li a{float:left; text-align:center;margin:1px 8px;padding:0; background-color:#fff;}
/*--------- #mid -----------*/
#mid{float:left;width:505px;margin:8px 8px 0 8px;}
#mid .columns {border:1px #eaf1f6 solid;}
#mid .columns .col-h2{background:#eaf6fd;border:1px #c4d2db solid;}
/*-------focus doc-------*/
#mid .col-h2{height:26px;line-height:26px;padding-top:2px;margin-bottom:8px;}
#tjct dl{width:480px;overflow:hidden;}/*  overflow:hidden; */
#tjct dt{float:left;margin:0 10px;display:inline;}
#tjct .a-img{width:160px;height:122px;display: table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:107px;*font-family:'Arial';overflow:hidden; }
#tjct .a-img img{vertical-align:middle;max-width:152px;max-height:114px;overflow:hidden;}
#tjct .title{height:26px; display:block;overflow:hidden;}
.p{line-height:20px;height:100px;overflow:hidden;float:right;width:280px;}
.r-b{bottom:0px;right:5px;}
#other-word{float:left;*float:none;padding-top:6px;margin:7px 8px 0 8px; border-top:1px #ccc dashed;clear:left;zoom:1;}
/*-------css for tjct_photo_list 08-03-24-------*/
#tjct dl.tpct_list{width:120px;height:110px;float:left;margin-top:8px;zoom:1;}
#tjct .tpct_list dd a{text-align:center;overflow:hidden;height:18px;padding:4px 4px 6px;clear:both;}
#tjct dl.tpct_list .a-img{width:108px;height:83px;font-size:75px}
/*--#tjct dl.tpct_list .a-img img{width:100px;height:75px;}--*/
/*-------  -------*/
#mid .columns .col-ul {line-height:26px;}
#mid .columns .col-ul li{height:26px;overflow:hidden;vertical-align:middle;}
#mid .ctm,#mid .name{float:left;margin:0 8px;}
a.name{color:#333; height:26px;}
a.name:hover{color:#f30;}
#mid .col-ul .til-fl{color:#999;}
#mid .columns .col-ul li a{display:inline;}
/*--------- #right -----------*/
#right {float:right; width:211px;margin:8px 0; overflow:hidden;}
.default-r{background:#fff;}
#right .columns .col-h2{height:26px;line-height:26px;display:block;padding-left:8px;border-bottom:1px #efefef solid;}
.default-r .col-h2{background:#fff;}
.zwf{width:211px;height:100px;}
/*--------------*/
#yzwkb .col-dl{line-height:24px;margin-top:6px;}
#yzwkb .a-img{margin:0 8px;width:87px;height:87px;}
#yzwkb .a-img img{width:81px;height:81px;}
#yzwkb .title{height:24px;}
#zxct{display:block;clear:left;line-height:20px;margin:5px 8px 12px 8px;padding-bottom:10px; border-bottom:1px #ccc dashed;}
#zxct a{word-break:keep-all;display:inline-block;white-space:pre;margin:0 2px;}
#yzwkb .col-ul{line-height:26px;color:#333; width:90%;}
#yzwkb .col-ul  a{display:inline;}
#yzwkb .col-ul  .l{width:85px;height:24px;overflow:hidden;}
#yzwkb .col-ul  .r{padding-left:8px;width:65px;text-align:right;background:url(up_list.gif) no-repeat left 6px;}
#yzwkb .col-ul li{height:26px; vertical-align:middle;}
.col-ul label{color:#666;}
/*-------change for Contribution to the list by banma 08-12-02-------*/
.tab{border-bottom:1px #ccc solid;height:23px;margin:12px 8px 5px 8px ;color:#cef2e0;clear:both;}
.tab li{float:left;}
.tab a{float:left;_display:inline-block;padding:0 12px;margin: 0 0px 0 8px;height:22px;line-height:22px;border:1px #a3bfb1 solid;border-bottom:0;background:#cef2e0;}
.tab a.on,.tab a:hover{background:#f5fffa;heihgt:23px;margin-top:1px;_margin-top:0px;text-decoration:none;}
.tab a.on{background:#f5fffa;}
#yzwkb li.red .r,#yzwkb li.orange .r{padding-left:8px;background:url(up_list2.gif) no-repeat left 6px;}
.ranking{float:left;width:15px;}
/*-------hottag-------*/
#rmbq {line-height:24px;}
#rmbq .col-ul{margin-top:12px;}
#rmbq .col-ul li{float:left;display:inline-block;clear:none;}
#rmbq .col-ul a{display:block;margin:0 5px;word-break:keep-all;white-space:nowrap;}
/*-------friendlink-------*/
#links{border:1px #e6e6e6 solid;padding:12px;line-height:24px;clear:both;overflow:hidden;zoom:1;}
#links a,#links strong{float:left;margin:0 8px;display:inline-block;white-space:nowrap;}
/*-------------------------------viewdoc.htm -------------------------------------*/
.viewdoc .col-h2{background:#f7f7f8;padding:0 10px;}
.viewdoc .col-ul{width:90%;margin:8px auto 0 auto;line-height:22px;}
#zx-edit .col-ul  .l{width:85px;overflow:hidden;word-break:break-all;height:22px;}
#zx-edit .col-ul  li{height:22px;overflow:hidden;}
#ct-similar .col-ul li{width:100%;height:22px;}
#ct-gl dl{line-height:22px;width:88%;}
#ct-gl dt{font-weight:bold;color:#333;clear:both;}
#ct-gl dd{float:left;margin:8px 0;width:98%;padding-left:1px;}
#ct-gl a.btn{float:left;width:75px;height:22px;background:#e7e2e2;margin-right:12px;text-align:center;color:black;border:1px solid;border-color:#f3f0f0 #cdcaca #cdcaca #f3f0f0;}
#ct-gl .btn-style{float:left;width:56px;margin:1px;text-align:center;display:inline;}
#ct-gl .bor-gray{float:left;width:58px;height:24px;margin-left:-1px;cursor:pointer;}
#ct-gl .lock-on span{background:#e7e2e2;width:56px;}

/*--change for basic information  by banma 08-12-03-------*/
.basic-info li.bor-gray-das{border-width:0 0 1px 0;padding-bottom:4px;overflow:hidden;}
.basic-info li a{width:65px;}
.basic-info dl{overflow:hidden;}
.basic-info dt{margin:0 10p 0 0px;}
.basic-info .a-img2{width:52px;height:52px;}
.basic-info .a-img2 img{width:48px;height:48px;display:block;}
.basic-info dd {float:right;line-height:19px;width:125px;}
.basic-info dd label,.basic-info dd a{white-space:pre-line;}
.basic-info dd img{ margin-right:1px;}
.basic-info dd .user-name{float:left;margin-bottom:3px;}
/*-----------*/
#map,.main,.ct-title{float:left;width:725px;}
#map,.ct-title{padding:12px 0 6px 0;border-width:0 0 1px 0;}
.ct-title .r{white-space:pre;}
#map a{margin-left:5px;}
.ct-title span{font-size:30px;}
.ct-title a{margin:20px 0 0 15px;}
#lock{float:left;border:1px #ff6801 solid;background:#fef4e7;padding:8px 45px 8px 15px;margin:8px 0;}
/*----------*/
#catalog{border:1px solid #9b9b9b; margin-left:10px;float:left;}
#catalog legend {font-weight: bold; font-size:14px; color:#333; margin-left:10px}
#catalog ul {padding:5px 15px}
#catalog ul li {line-height:22px}
#catalog ul li a { color:#333;text-decoration:none}
#catalog ul li a:hover {text-decoration:underline}
#catalog p {text-align:right; margin:0 10px 10px 0}
#catalog p a {margin-left:15px; text-decoration:none}
/*------editor ------*/
.edition {border:1px solid #ff6600; background-color:#ffeeda; padding:0 10px;line-height:25px; margin:0 0 20px 5px; float:left; white-space: nowrap;}
.content_topp,.content_1{padding:0; overflow:hidden; width:718px;font-size:14px;float:left; line-height:25px;}
.content_topp p,.content_1 p {margin:0 0 10px;}
.content_1 h3{border-bottom: 1px dashed #9b9b9b; margin:20px 0 15px; width:698px; font-size:20px; float:left; font-weight: bold; padding: 0 5px;}
.content_1 h3 a {font-weight:normal; font-size: 12px; text-decoration: none; padding-left:10px}
.texts {float:left; width:570px;}
.font_1 { font-size:14px}
.font_2 {font-weight: bold; font-size: 14px;}
.font_3 {font-size:14px;font-style: italic;text-decoration: underline;}
.font_4 {font-family: "KaiTi";font-size: 14px;}
.font_5 {font-size:14px;color: #FF0000;}
.ct-label{background:#f7f7f8;line-height:24px;margin:10px 0;padding:5px 0;}
.ct-label a{margin:0 5px;}
.hdwiki_tmmll{font-size:16px;font-weight:bold;}

/*--reference data 09-07-21--*/
.reference {line-height:18px;background:#F7F7F7;padding:8px 5px;overflow:hidden;}
.reference dt {font-weight:bold;}
.reference dd { padding:10px 0 0 1em;}
.reference input{border:0;color:#999;width:300px;background:#F7F7F7;}
.reference dd span {width:25px;margin-right:4px;}
/*--banma 08-09-02 Annex_list--*/
.fj_list{line-height:18px;margin-bottom:15px;}
.fj_list h3{height:30px;line-height:35px;font-weight:bold;padding:0 10px;background:url(fujian_top_bg.jpg) repeat-x left top;}
.fj_list dl{padding: 2px 5px;color:#666;}
.fj_list dt{display:block;clear:both;}
.fj_list dt a.l{margin-right:-20px;}
.fj_list dt span.l{word-break:keep-all;white-space:pre-wrap;padding-left:25px;}
.fj_list dd{clear:both;padding:0px 5px 5px 28px;margin:0 0 8px 0;border-bottom:1px #ccc dashed; }
.fj_list input {border:1px solid #999999;padding:1px;}
.inp_del{height:22px;width:60px;margin-left:15px;border:0; background-color:transparent;}
.fj_img{margin-right:5px;width:16px;height:16px; vertical-align:top;}
/*-------------------------VersionView.htm -------------------------------*/
#cklsbb{float:left;width:725px;line-height:20px;color:#666;border-width:0 0 1px 0;padding:0 0 6px 0;margin:8px 0;overflow:hidden;}
#cklsbb label{margin:0 15px 0 5px;color:#333;}
#cklsbb a{display:inline-block;margin:0 8px 0 4px;word-break:keep-all;white-space:pre;}
.baike-a a{border:1px #ccc solid;text-decoration:underline;padding:2px 8px;line-height:16px;height:16px;}
/*-------------------------CompareVerdion.htm -------------------------------*/
.version{float:left;width:100%;}
.version ul{width:49.3%;}
.version li{background:#f3f3f3;padding:2px 2%;line-height:20px;}
.fanwei,.dian{display:inline-block;width:45px;height:15px;margin:0 15px 0 5px;}
.fanwei{background:#ccf533;}
.dian{background:#e99bff;margin-left:30px;}
#LeftScroll,#RightScroll{padding:8px 1%;width:47%;height:540px;overflow:scroll;border:1px #ccc solid;margin:0 0 10px 0;}
/*---------- register.htm  login.htm  getpass.htm------------*/
.reg-back{clear:both;padding-top:30px;}
.reg-bd{clear:both;padding:30px 20px 20px 30px;width:490px;margin:5px auto 50px auto;background:#f3f3f3;line-height:20px;}
.reg-bd input,.reg-bd .yzm img{vertical-align:middle;}
.reg-bd li{line-height:20px;text-align:center;clear:both; padding:10px 0 17px 0;}
.reg-bd .bor-gray-das{border-width:1px 0 0 0;margin-top:12px;}
.reg-bd .l{width:120px;}
.reg-bd .r{width:210px;text-align:left;}
.reg-bd .reg-inp{width:105px;margin:0 15px 0 8px;}
.reg-bd .yzm img{width:45px;height:20px;}
.reg-bd .btn-submit{margin-right:60px;}
/*----------------------------- createdoc.htm------------------------------*/
#cjct-tit{float:left;width:635px;margin:20px 0 20px 0;padding-left:30px;border-width:0 1px 0 0;line-height:36px;}
#cjct-tit dt,#cjct-tit dd{clear:both;}
#cjct-tit dd,#ctbzgf  dd{color:#666;}
#cjct-tit .l{width:115px; }
#cjct-tit .r{width:280px; }
#cjct-tit .reg-inp{width:175px;margin:7px 15px 0 8px;}
#cjct-tit .reg-select{width:105px;height:22px;margin:7px 15px 0 8px;padding:1px 0;}
#cjct-tit .btn-submit{margin:20px 300px 0 0;}
#ctbzgf{float:left;margin:17px 20px;line-height:20px;}
#ctbzgf dd{padding-left:20px;background:url(ctgf_li_bg.gif) no-repeat left 4px;}
#ctbzgf  dt{margin-bottom:4px;}
/*--change fenleishuxing 08-09-01 --*/
#flsx{float:left;margin:auto;text-align:center; position:relative;/*display:none;*/}
#flsx dl{position:absolute;clear:right;width:550px;padding:0 10px 8px 10px;text-align:left;border:2px solid #ccc; background:#fff;}
#flsx dt{padding:8px 0;height:12px;width:100%;}
#flsx dt a{margin-right:15px;height:12px;}
#flsx dt span.hand{text-decoration:none;} 
#flsx dt span.blue{color:#0088e1 !important; font-weight:900;}
#flsx dd{float:left;height:28px;line-height:28px;margin:0 10px;display:inline-block;white-space:nowrap;}
#flsx dd a{display:inline-block;}
#flsx .bor-gray-das{border-width:0 0 1px 0;padding-bottom:12px;}
#flsx dd input{vertical-align:middle;}
.tag_help{margin:0 8px; vertical-align:bottom;}

/*----------------------------- editdoc.htm----------------------------*/
/*------------------- search.htm  category.htm--------------*/
.search{line-height:22px;border:1px #eaf1f6 solid;}
#sea-title{display:block;height:30px;line-height:30px;margin:2px;padding:0 20px;background:#eaf6fd;position:relative;}
.search dt{margin-bottom:6px;}
.search dl{border-bottom:1px #ccc dashed;margin:0 20px;padding:12px 0;}
#fenye{float:right;margin:20px 2%;;line-height:12px;width:80%;text-align:right;}
#fenye a,#fenye span{display:inline-block;margin:0 0 0 4px;border:1px #ccc solid;padding:5px 8px;line-height:12px; }
#fenye span{color:#666;padding:5px 6px 5px 2px;margin-left:4px;}
#fenlei{float:right;width:725px;margin:8px 0 0 8px;}
.rss{margin: 8px 85px 0 0;}
/*----------------------------- profile.htm----------------------------*/
#nav-gr-info{float:left;width:200px;border:1px #a8b5bd solid;margin-top:10px;}
.nav-ul li{display:block;height:31px;line-height:30px;margin:1px 0;border-bottom:1px #a8b5bd solid;}
.nav-ul li a{display:block;height:30px;padding:0 12px 0 28px; background:#f2f6f8;}
.nav-ul li a:hover,.nav-ul .on{display:block;height:30px;background:#719db3 url(on-bg.gif) no-repeat right center;text-decoration:none;}
.nav-ul li .parent{display:block;height:30px;padding-left:25px;background:#eee url(pb_stop.gif) no-repeat 8px 12px;text-decoration:none;}
.info-basic{display:block;border-bottom:1px #ccc solid;margin:10px 0;}
#info-basic .a-img{float:left;margin:10px 15px 10px 10px;}
#info-basic{line-height:30px;_height:520px;min-height:520px;}
#info-basic .btn-submit2{float:left;margin:0 8px;}
.detail{float:right;width:580px;line-height:24px;margin-top:8px;}
.detail li{float:left;display:inline;margin-right:12px;height:24px;}
.detail li label{float:left;display:inline; vertical-align:middle;}
.progress-bar{float:left;width:100px;height:4px;border:1px #53d242 solid;overflow:hidden;vertical-align:middle;margin: 8px 8px 9px 4px;}
.progress-bar span{background:#6c0;height:4px;display:block;overflow:hidden;}
.jf-detail{margin-top:8px;width:580px;float:right;}
.jf-detail td{width:80px;paddding:0 8px 0 8px;height:30px;line-height:30px;}
.jf-detail thead td{border-bottom:1px #ccc dashed;}
.wid100{float:left;padding-left:10px;line-height:22px;}
.detail li.bor-gray-das{border-width:0 0 1px 0;display:block;width:100%;margin-bottom:8px;padding-bottom:3px;}
/*---short message 08-11-27------*/
#info-basic .table{width:705px;margin:0;table-layout:fixed;}
#info-basic .table td{border:0;border-bottom:1px #ccc dashed;height:24px;padding-left:0;word-break:break-all;word-wrap:break-word;overflow:hidden;}
#info-basic .table td a{word-break:break-all;word-wrap:break-word;width:90%;overflow:hidden;line-height:24px;}
#info-basic .table span{float:right;background: url(draft.jpg) no-repeat left 6px;padding:0 5px 0 23px;}
#info-basic input{ vertical-align:baseline}
#info-basic #fenye{display:inline;}
.hl_list .area{width:98%;margin:15px auto;border:1px #ccc solid;}
.hl_info{ background:#f5f5f5;line-height:18px;padding:12px;width:96%;}
#info-basic .inp_btn{padding:2px 12px;*padding:4px 8px 0 8px;margin-top:15px;}
.ts_info{border:1px #ccc solid;padding:1px;}
.ts_info dt{padding:0px 8px;display:block; background:#aaaeb1;margin-bottom:10px;color:white;}
.ts_info dd{line-height:20px;color:gray;padding:0 8px;}
.send_massage .info-basic{ background:url(message.jpg) no-repeat left 5px;padding-left:25px;}
.send_massage ul{line-height:22px;color:#333;margin-top:25px;}
.send_massage li{padding:3px 0 8px 55px;}
.send_massage li label{float:left;width:40px;margin:0 0 0 -55px;display:inline;}
.send_massage .area,.receive .area{margin-top:3px;border:1px #ccc solid;padding:4px 2px;}
.send_massage .inp_txt{border:1px #ccc solid;}
/*--- receive.htm-----*/
.receive h3{text-align:right;border-bottom:2px #ccc solid;padding:5px 0}
.receive h3 label{float:left;display:inline;padding-top:3px;color:#0268cd;}
.receive h3 .inp_btn{margin-top:0 !important;}
.receive ul{margin:12px 0 0 0;}
.receive li{line-height:22px;margin:8px 0;padding-left:110px;clear:both;}
.receive li label{float:left;display:inline; position:relative;padding-left:-110px;margin-top:5px;width:96px;}
.receive li p{float:left;width:590px;display:inline;background:white;line-height:22px;padding:8px 4px;}
.receive li.bg_gray{padding:3px 3px 3px 12px; background:#f5f5f5;overflow:auto;zoom:1;}

/*--- change_pw   change_ph.htm   proflie-info.htm------*/
#info-basic .reg-bd {float:left;background:none;padding:0;}
#info-basic .reg-bd li{text-align:left;}
p.detail{line-height:20px;margin:20px 0 30px 0;}
#info-basic .reg-inp{vertical-align:middle;}
.info-detail{margin-bottom:100px;}
.info-detail li{clear:both;margin:5px 0;}
.info-detail .l{width:80px;text-align:right;margin-right:10px;}
.info-detail .r{width:620px;}
.info-detail textarea{padding:8px 5px;}
/*-----------------------------  category_list.htm----------------------------*/
#bkfl_list{	width:99.5%;}
#bkfl_list .col-h2{border-width:0 0 1px 0;padding:3px 0;font-size:12px;}
#bkfl_list dl{margin-left:30px;}
#bkfl_list dt{margin-top:8px;height:auto;font-size:14px;font-weight:bold;}
#bkfl_list dd a{margin-right:12px;}
/*---------  version_list.htm   edit.htm---------*/
.lsbb_list{display:block;height:26px;line-height:26px;background:#f7f7f8;}
.operation_btn{float:left;display:block;width:725px;}
.operation_btn input{width:80px;height:26px;line-height:20px;padding:0 0 2px 0;*padding-top:2px;margin:12px 8px;}
.table{table-layout:fixed;margin:10px 0;line-height:18px;}
.table td,.table th{padding:4px 8px 2px 8px;height:34px;line-height:34px; vertical-align:middle; }
.table th,tab_bg{ background:#f7f7f8;height:28px;line-height:28px;}
.table input{margin-right:5px; vertical-align:middle;}
.table thead td{height:30px;border:1px #ccc dashed;border-width:1px 0;padding:2px 10px; }
.table tfoot td{height:20px;border:1px #ccc dashed;border-width:0 0 1px 0;}
.edit_img{width:25px;height:25px;margin-bottom:3px;}
/*-----------------------------  space.htm----------------------------*/
#gr-info {line-height:22px;}
#gr-info .a-img{display:block;width:96px;margin:15px;display:inline;}
#gr-info .a-img img{width:90px;}
#gr-info .col-ul{margin:10px auto;width:85%;}
#gr-info .col-ul label{margin-left:5px;}
#sp-cjct{display:block;}
#sp-bjct{display:none;}
#sp-cjct #sea-title a,#sp-bjct #sea-title a{padding:0 10px;}
#sp-cjct dd a,#sp-bjct dd a{margin:0 5px;}
a.on{background:#f7f7f8;}
#sea-title a:hover{	text-decoration:none;}
/*--change by 08-12-03--*/
.send-ms{padding-left:23px;background: url(message.jpg) no-repeat left center;}
#gr-info .col-h2{padding-left:15px;}
#gr-info .font14{margin:0 0 4px 0;}

/*-- tjct.htm rdct.htm zjcj.htm zjbj.htm  yhrq.htm--*/
#ct-info-list{float:left;width:220px;border:1px #e8f1f6  solid;margin-top:10px;padding:10px 0 1px 0;background:#f7f7f8;}
#ct-info-list li{display:block;border:1px #fff solid;border-width:0 0 1px 0;margin:0;height:30px;}
#ct-info-list li a:hover,#ct-info-list .on{display:block;height:30px;background:#eaf6fd url(on-bg.jpg) no-repeat right center;text-decoration:none;}

.ct-azmsx{margin-top:10px;border:1px #e6e6e6 solid;width:216px;}
.ct-azmsx .col-h2{background:#f7f7f8; border-bottom:1px #efefef solid;margin-bottom:0;height:30px;line-height:30px;}
.ct-info-ul{line-height:30px;width:93%;}
.ct-info-ul dt,.ct-info-ul dd{height:30px;border-width:0 0 1px 0;padding-top:4px;}
.ct-info-ul dd{border-bottom:1px #ccc dashed; }
.ct-info-ul .l{width:77%;height:30px;word-break:break-all;overflow:hidden;text-align:left;}
.ct-info-ul .r{width:18%;text-align:left;}
.bor-ql{border:1px #eaf1f6 solid;}
/*-------change for renqi to the list  by banma 08-12-03-------*/
#info-basic .tab li a.on,#info-basic .tab li a:hover{background:#fff;}
.tab-info .ranking{width:35px;padding:0 8px;} 
.tab-info  li .l{width:470px; }
.tab-info .level{float:left;}
/*---------------------- error.htm  no_exist.htm----------------------*/
.error,.no_exist{width:70%;height:110px;min-height:110px;margin:50px auto;padding:10px 0 10px 225px;background:url(error.jpg) no-repeat 85px 10px;line-height:24px;color:#333;font-size:14px;}
.error dt{color:#666;margin-bottom:10px;}
.no_exist{background:none;line-height:40px;color:#222;margin-top:30px;padding-left:20px;height:70px;min-height:70px;}
.no_exist a,.no_exist a{margin:0 5px;}
.no_exist .btn-submit{width:auto;margin-top:0px;padding:0 8px;}
.cor_titile,.correlation{display:block;clear:both;margin-bottom:25px;padding:0 20px;}
.cor_titile{color:#666;}
.correlation dt{font-size:14px;color:red;margin-bottom:8px;}
.correlation dd{width:70%;line-height:18px;}
.create{width:590px;background:#f5fffa;border:1px #c0c0c0 solid;padding:12px;margin-left:10px;line-height:24px;display:inline-block;vertical-align:middle;}
dd.create .btn-submit{width:auto;margin:0px 8px;padding:1px 5px;height:24px;line-height:24px;border:1px solid;border-color:#fff  #545454 #545454 #fff;}
/*---------------------- comment.htm ----------------------*/
#comment_tit{float:left;width:920px;padding:16px 20px 9px 10px; border-bottom:1px #ccc solid;font-size:14px;color:#333;}
.ol{padding:0 0 0 3px; font-size:14px;}
.ol li{clear:both;margin-left:1px; list-style: none;padding:8px 0 12px 0;color:#333;border-bottom:1px #ccc double;border-width : 3px;}
.ol li:after {content: "banma@vip.qq.com"; display: block;height: 0; clear: both;visibility: hidden;}
.ol li p{padding: 0px 8px 0px 4px;line-height:22px;}
.ol li span.block{padding:0 8px 0 4px;margin:15px 0 0 0;clear:left;display:block;overflow:hidden;zoom:1;}
.ol li .bor-gray{border-width:0 1px 0 0;margin-right:12px;padding-right:12px;}
#com{padding: 8px 0 0 30px;}
#com h3{height:25px;padding:0 10px;margin:12px 0 0 0;line-height:25px;color:#555;}
#com textarea{float:left;padding:8px 5px;border:1px #ccc solid;margin-left:10px;width:560px;height:100px;}
#com .inp_com{float:left;clear:both;height:24px;padding:3px 8px 0 8px;margin:12px 0 35px 6px; background:#d4d0c8;
 					border:1px solid;border-color:#f3f0f0 #404040 #404040 #f3f0f0;}				
/*----change 08-09-09 for ol show-----*/	
#main ol{padding-left:35px;}		
#main ol li{clear:both;margin-left:1px; list-style: decimal;}
#main ol li:after{content: "banma@vip.qq.com"; display: block;height: 0; clear: both;visibility: hidden;}
/*----add 08-09-16 for search-ct{CiTiao search}-----*/
.bor-table .bor-gray-das{border-width:0 0 1px 0;padding-bottom:8px;padding-top:8px;}
.bor-table td{vertical-align:top;color:#666;}
.bor-table th{ border-bottom:1px #ccc solid;font-weight:bold;margin-bottom:5px;}
.bor-table td p{line-height:22px;}
.bor-table td label{margin-right:5px; vertical-align:top;}
.inp_txt{width:300px; padding:2px 8px;height:16px; vertical-align:middle;margin-bottom:8px;border:1px #7f9db9 solid;}
.sel-80{width:80px; height:19px;margin-right:8px;}
.bor-table .sel-area{width:500px;padding:4px;margin:8px 0;border:1px #7f9db9 solid;line-height:20px;}
/*----add 08-09-16 for viewdoc.htm (uesful_for_me)-----*/
.useful_for_me{margin:30px 0 0 0;color:#666;}
.useful_for_me span{float:right;width:550px;padding:5px 12px;line-height:20px;}
.useful_for_me a{float:left;width:100px;height:46px;background:url(useful_for_me.gif) no-repeat left top;padding:3px 12px;color:#666;line-height:20px;}
.useful_for_me a:hover{background-position:left -62px;text-decoration:none;color:white;}
.useful_for_me b{display:block;color:#2AA8E3;font-family:"Tahoma";font-weight:bold;padding-left:30px;}
.useful_for_me a:hover b{color:white;}
/*----for viewdoc.htm(synonyms) banma 08-03-20-----*/
.synonyms{margin:12px 8px 8px 8px;border:2px #cef2e0 solid;padding:0 12px;height:30px;line-height:30px;display:inline-block;clear:both;background:#f5fffa}
.synonyms .h2{font-size:15px;margin-right:2px;}
