/*  component  */
#latest_site_news { border:1px solid #E5E5E5; background:transparent url(images/category_bg.gif) repeat-x top; height:250px; }
#latest_site_news h3 { line-height:32px; height:32px; border-bottom:1px solid #e5e5e5; }
#latest_site_news .colboxcontent { padding:15px; }
#latest_site_news li { background:url(images/icon_arrow01.gif) no-repeat 0 5px; margin-bottom:10px; padding-left:10px; }
#latest_site_news li a { color:#4A4A4A; }
.columna #latest_site_news .colboxcontent { height:210px; }

.grid1col #goods_category .colboxcontent { margin:0 1px; padding:0; }
.grid1col #goods_category ul:after { content:""; display:block; height:0px; clear:both; visibility:hidden; }
.grid1col #goods_category ul { *display:inline-block; }
.grid1col #goods_category .even { background:#fff url(images/category_cycle.gif) repeat-y; }
.grid1col #goods_category .odd { background:#f7f8ff url(images/category_cycle.gif) repeat-y; }
.grid1col #goods_category li { background:url(images/icon_category.gif) no-repeat 20px 12px; width:208px; overflow:hidden; float:left; padding:10px 5px 10px 35px; }
.grid1col #goods_category .title { font-size:12px; margin-bottom:5px; }
.grid1col #goods_category dt,.grid1col #goods_category dd { line-height:22px; white-space:nowrap; float:left; padding-right:5px; }
.grid2col .column1 #goods_category .colboxcontent { background:url(images/category_bg.gif) repeat-x; margin:0 2px; padding:10px; }
.grid2col .column1 #goods_category .title { font-size:12px; background:url(images/icon_level1.gif) no-repeat 0 center; padding:5px 0 5px 13px; clear:both; }
.grid2col .column1 #goods_category .title a { font-weight:bold; color:#306197; }
.grid2col .column1 #goods_category li { padding:5px 3px; border-bottom:1px dotted #cfdee6; }
.grid2col .column1 #goods_category li.last { border-bottom:0; }
.grid2col .column1 #goods_category dl { padding-left:14px; }
.grid2col .column1 #goods_category dt { color:#777; display:inline; line-height:18px; }
.grid2col .column1 #goods_category dt a,
.grid2col .column1 #goods_category dd a { color:#777; white-space:nowrap; }
.grid2col .column1 #goods_category dd { display: inline; line-height:18px; margin-right:10px; }

#cycleimage { padding-bottom:10px; }
#cycleimage object,#cycleimage embed { width:100%; height:250px; }

.sortitemlist { position:relative; overflow:hidden; }
.sortitemlist .thumblist li { width:100px; float:left; padding:5px 10px; _padding:5px 7px; }
.sortitemlist .thumblist img { padding:2px; border:1px solid #dadada; }
.sortitemlist .thumblist li .infolist { line-height:14px; padding-top:8px; }
.sortitemlist .thumblist li .name { display:block; margin-bottom:3px; height:24px !important; height:22px; }
.sortitemlist .thumblist li .name a { color:#555; }
.sortitemlist .thumblist li .price { color:#bf0028; display:block; }
.sortitemlist .textlist { width:480px; clear:both; margin-top:15px; border-top:1px dotted #d3dee4; }
.sortitemlist .textlist li { line-height:22px; background:url(images/icon_arrow02.gif) no-repeat 0 5px; width:217px; height:22px; float:left; padding:0 5px 0 18px; border-bottom:1px dotted #d3dee4; }
.sortitemlist .toplist { width:220px; position:absolute; top:30px; right:15px; }
.sortitemlist .toplist h4 { font-size:12px; font-weight:bold; border-bottom:1px solid #d3dee4; line-height: 24px; }
.sortitemlist .toplist ol { font-weight:bold; color:#0235b7; margin-left:25px; padding-top:10px; list-style:decimal; }
.sortitemlist .toplist li { padding:3px 10px 3px 0; border-bottom:1px dotted #d3dee4; }
.sortitemlist .toplist li a { color:#287FB6; }
.sortitemlist.imagehot .thumblist { width:488px; }
.sortitemlist.imagewordhot .thumblist { width:488px; }
.sortitemlist.wordhot .colboxcontent { height:230px; }
.sortitemlist.wordhot .textlist { margin:0; }
.sortitemlist.imageword .textlist { width:auto; }
.sortitemlist.word .textlist { width:auto; margin:0; }
.sortitemlist.word .textlist li,
.sortitemlist.imageword .textlist li { width:220px; }
.sortitemlist.hot .toplist h4 { display:none; }
.sortitemlist.hot .toplist { width:195px; position:relative; top:0; right:0; }

#group_buy { background:url(images/col_bgd2.gif) repeat-y; }
#group_buy h3 { line-height:38px; height:38px; border:0; }
#group_buy .colboxcontent { background:#fff url(images/cycle_name_bg.gif) repeat-x 0 bottom; margin:0 7px 2px; padding-bottom:36px; border:1px solid #d3dee4; position:relative; }
#group_buy .colbtm { background:url(images/col_btm_bgd2.gif) no-repeat; }
#group_buy li { height:125px; float:left; padding:5px 5px 0; }
#group_buy li img { padding:3px; border:1px solid #dee2e3; }
#group_buy li a { text-align:center; }
#group_buy li span { display:block; padding:5px 0 0; }
#group_buy li .infolist { display:none; }
#group_buy li .name { line-height:14px; color:#777; }
#group_buy li .price { color:#287FB6; }
#group_buy .selected { background:url(images/cycle_name_arrow.gif) no-repeat center bottom; }
#group_buy .selected .infolist { line-height:36px; white-space:nowrap; display:block; height:36px; padding-left:25px; position:absolute; bottom:0; left:0; }
#group_buy .selected .infolist .name { color:#000; display:inline; }
#group_buy .selected .infolist .price { display:inline; margin-left:20px; }
#group_buy .selected img { border:1px solid #9fc5d4; }

#recommended_brand li { float:left; margin:0 5px 5px 0; }
#recommended_brand .textlink a { line-height:18px; margin:0 5px; }
#partner li { line-height:22px; white-space:nowrap; float:left; margin:0; padding:0 5px; }

#latest_wanted li { background:url(images/icon_cart.gif) no-repeat 0 5px; margin-bottom:5px; padding-left:25px; }
#latest_wanted li a { line-height:14px; color:#4A4A4A; }
#latest_wanted li p { padding-top:3px; }
#latest_wanted li .price { color:#287fb6; }

#latest_sold li { background:url(images/icon_cart.gif) no-repeat 0 5px; margin-bottom:5px; padding-left:25px; }
#latest_sold li a { line-height:14px; color:#4A4A4A; }
#latest_sold li p { padding-top:3px; }
#latest_sold li .price { color:#287fb6; }
