<html>
<head><title>{$_TPL['magzine_title']}</title>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<meta content="ie=7" http-equiv="x-ua-compatible" />
<style type="text/css"> 
a:hover { text-decoration: underline !important; }
.blocklink a:hover { background: #2C629E !important; color: #FFF !important; text-decoration: none !important; }
.STYLE1 {font-size: 9px}
.STYLE2 {font-size: 8px}
</style>
</head>
<body style="margin: 0; background: #FFF; font: 12px sans-serif; padding: 0;">
<!------ 顶部开始   -------->
<div class="headbox" style="position: relative; overflow: hidden; margin: 0 0 0px; width: 664px;">
<div class="headbox_c" style="overflow: hidden; margin: 0 0 0 0; border: 0px solid #DDD; padding: 0px; float: left; width: 664px;">
<img src="{$_TPL['magzine_url']}{$_TPL['title_image']}" border="0" height="50" width="664" usemap="#Map" />
<map name="Map"><area href="http://www.17salsa.com/{$_TPL['analytic']}" shape="rect" target="_blank" alt="一起Salsa网" coords="21,4,118,46" />
<area href="http://www.17salsa.com/site/{$_TPL['analytic']}" shape="rect" target="_blank" alt="一起Salsa资讯网" coords="542,4,576,24" />
<area href="http://www.17salsa.com/home/{$_TPL['analytic']}" shape="rect" target="_blank" alt="一起Salsa社区网" coords="601,5,634,22" />
<area href="http://www.17salsa.com/wiki/{$_TPL['analytic']}" shape="rect" target="_blank" alt="一起Salsa百科全书网" coords="542,27,576,45" />
<area href="http://www.17salsa.com/mall/{$_TPL['analytic']}" shape="rect" target="_blank" alt="一起Salsa商城。" coords="599,27,635,45" />
</map>
<P
 style="PADDING: 0 0 0 0; MARGIN: 0px; PADDING-TOP: 0px">
 <br/>&nbsp;&nbsp;&nbsp;&nbsp;为了避免我们的电子邮件被当作垃圾邮件，请将我们的发
件人地址添加至您的“地址簿”中。<BR/>
 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{$_TPL['magzine_url']}{$_TPL['analytic']}" style="color: red;">如果您无法阅读本邮件，请单击此处</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注<a style="COLOR: red" href="http://t.sina.com.cn/17salsa" target="_blank">17SALSA微博</a>，获取最新资讯<BR>&nbsp;&nbsp;
 </P>
</div></div>
<!------- 顶部结束   -------->
