<h2 class="title"><img src="image/icon/network.gif">随便看看<!--{if $_TPL[titles][0]}--> - $_TPL[titles][0]<!--{/if}--></h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[index]><a href="network.php"><span>全部</span></a></li>
		<li$actives[doing]><a href="network.php?ac=doing"><span>记录</span></a></li>
		<li$actives[blog]><a href="network.php?ac=blog"><span>日志</span></a></li>
		<li$actives[album]><a href="network.php?ac=album"><span>相册</span></a></li>
		<li$actives[share]><a href="network.php?ac=share"><span>分享</span></a></li>
		<li$actives[thread]><a href="network.php?ac=thread"><span>话题</span></a></li>
		<li$actives[mtag]><a href="network.php?ac=mtag"><span>群组</span></a></li>
		<li$actives[space]><a href="network.php?ac=space"><span>成员</span></a></li>
	</ul>
</div>